<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=VideoRentalDB;Integrated Security=True" />
		<add name="ClientConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=VideoRentalDB;User Id=VideoRental_Client;Password=VideoRental_Client" />
		<add name="EmployeeConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=VideoRentalDB;User Id=VideoRental_Client;Password=VideoRental_Client" />
		<add name="AdminConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=VideoRentalDB;User Id=VideoRental_Client;Password=VideoRental_Client" />
	</connectionStrings>
</configuration>